.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  padding: 10px;
  clear: both;
  font-size: 8px;
  color: rgb(253, 155, 91);
  text-align: center;
  background-color: rgb(41,37,41);
  opacity: 0.5;
}

.image1login,
.image2login {
  width: 600px;
  height: 500px;
  border: 3px solid rgb(196, 196, 196);
}

.image1login {
  opacity: 0.6;
  margin-top: 30px;
  z-index: 1;
}

.image2login {
  position: relative;
  bottom: 250px;
  left: 200px;
  z-index: 2;
  opacity: 0.8;
}

.greycolor {
  background-color: black;
}

