    <div class="container">
        <div class="jumbotron">
            <h1> {{ name }} </h1>
            <hr>
            <h5>One of the people that you created a meeting with uses Recal.</h5>
            <p>All meetings with this user will be placed on hold until an agenda has been added.</p>
        </div>

        <div class="card-columns d-flex justify-content-between">

            <div class="card col-m-5">
                <div class="card-header col-md-12">
                    <h3><strong>Add an agenda</strong></h3>
                </div>
                <div class="card-body">
                    <p>Once you add an agenda, the meeting invite will become active</p>


                    {{#each meetings}}
                    <div class="card col-m-5">
                        <div class="card-header col-md-10">
                            <h5><strong>{{this.meetingName}}</strong></h5>
                            <p>Meeting on {{this.meetingDate}}</p>
                        </div>
                        <div class="card-body">
                            <div id="agendas"></div>
                            <div class="text-left">
                                <input type="text" id="add-agenda" class="form-control needs-validation">
                                {{!-- <textarea class="form-control needs-validation" id="add-agenda" rows=3></textarea> --}}
                                <div class="invalid-feedback">Please choose a username.</div>
                                <br>
                                <button type="submit" id={{this.meetingId}} class="btn btn-primary btn-md" id="search-btn">
                                    Add agenda
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    {{/each}}

                    <!-- <a href="/auth/google"><button class="btn btn-primary btn-lg"> Login to Google</button></a> -->
                </div>
            </div>
        </div>
    </div>


{{!--
<script type="text/javascript">
    $(document).ready(function () {

        var express = require("express");
        var router_email = express.Router();
        var path = require("path");

        var emailMethods = require(path.join(__dirname, "..", "helpers/nodemailer.js"));

        emailMethods.readMail();


    });
</script> --}}



{{!-- //move to main.js --}}
{{!-- <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script> --}}