<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Noodle Calendar</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Recal</h1>
            <h3>Login to access your calendar!</h3>
            <button id="btn-login" class="btn btn-primary btn-lg"> Login with auth0</button>
        </div>




</body>



<!-- Latest minor release -->
<script src="https://cdn.auth0.com/js/lock/11.16/lock.min.js"></script>

<!-- Latest patch release (recommended for production) -->
<script src="https://cdn.auth0.com/js/lock/11.14.1/lock.min.js"></script>

<script type="text/javascript">
   
    /*document.getElementById('btn-login').addEventListener('click', function () {

    });*/

    var redirectURLHostPrefix = "https://";
    if (window.location.href.indexOf("localhost") > -1) {
        redirectURLHostPrefix = "http://";
    }
    console.log(redirectURLHostPrefix)

    
    var options = {
        auth: {
            redirectUrl: redirectURLHostPrefix + location.host + '/authlock/callback',
            params: {
                connection: 'google-oauth2',
                accessType: 'offline',
                // approvalPrompt: 'force',
                scope: 'openid profile email offline_access',
                responseMode: 'form_post',
                responseType: 'token id_token' //,
                // connection_scope: 'https://www.googleapis.com/auth/calendar.readonly'
            }
        },
        theme: {
            logo: 'https://res.cloudinary.com/hwhpsei4r/image/upload/v1561874129/logo.png',
            primaryColor: '#FD9B5B'
        },
        languageDictionary: {
            title: ""
        }
        /* ,
        connectionScopes: {
            'google-oauth2': ['https://www.googleapis.com/auth/calendar.readonly']
        }*/
    }

    console.log(options.auth.redirectUrl)

    var lock = new Auth0Lock(
        'txXHcrHgGmSLoD8FI3xTOuRus7hj6Rp1',
        'dawn-moon-0315.auth0.com', options
    );

    var Auth = (function () {

        var wm = new WeakMap();
        var privateStore = {};
        var lock;

        function Auth() {
            this.lock = new Auth0Lock(
                'txXHcrHgGmSLoD8FI3xTOuRus7hj6Rp1',
                'dawn-moon-0315.auth0.com'
            );
            wm.set(privateStore, {
                appName: "Recal",
                accessType: "offline"
            });
        }

        Auth.prototype.getProfile = function () {
            return wm.get(privateStore).profile;
        };

        Auth.prototype.authn = function () {
            // Listening for the authenticated event
            this.lock.on("authenticated", function (authResult) {
                // Use the token in authResult to getUserInfo() and save it if necessary
                this.getUserInfo(authResult.accessToken, function (error, profile) {
                    if (error) {
                        // Handle error
                        return;
                    }

                    //we recommend not storing Access Tokens unless absolutely necessary
                    wm.set(privateStore, {
                        accessToken: authResult.accessToken
                    });

                    wm.set(privateStore, {
                        profile: profile
                    });
                });
            });
        };
        return Auth;
    }());

    lock.show();

</script>

</html>