<div id="createNewNoteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createNewNoteModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title topevents" id="createNewNoteModalLabel">Create New Note <i
						class="fa fa-sticky-note" aria-hidden="true"></i></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form name="addNoteForm">
							<label>
								<h5>User:</h5>
							</label>
							<input type="text" name="noteUser" class="form-control" id="noteUser" />
							<br>
							<label>
								<h5>Message:</h5>
							</label>
							<input type="text" name="noteMessage_text" class="form-control" id="noteMessage_text" />
							<br>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<span id="addNoteModalStatus"></span>
				<button type="button" class="btn btn-success" id="addNoteModalButton"><i class="fa fa-plus"></i>
					Add Note</button>
				<button type="button" class="btn btn-success" id="closeNoteModalButton"><i class="fa fa-times"
						aria-hidden="true"></i> Close</button>
			</div>
		</div>
	</div>
</div>