.greenbtnmargin {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
}

#smallerfontgreenbtn {
    font-size: 10px;
    color: white;
}

#qsLogoutBtn {
    margin-bottom: 20px;
}

#username {
    color: rgb(253, 155, 91);
    font-size: 15px;
}

#logoutbtn {
    color: red;
}

#profilebtn {
    color: lightseagreen;
}

.navbarbtn {
    margin-left: 500px;
}

.logorecal {
    margin-top: 10px;
}