<div class="card-body logingoogle">
    <h5 class="card-title darkstyle">Your day at a glance!</h5>
    <p class="card-text darkstyletext">You must login to Google in order to pull events from your calendar</p>
    <a href="/auth/google"><button class="btn btn-success googleloginbtn btn-lg">Login to <i class="fa fa-google" aria-hidden="true"></i>oogle</button></a>
</div>
<div class="card-footer orange text-muted">
</div>
